<h1><%= @team.name %></h1><br>
<h2>Team Motto: <%= @team.motto %></h2><br>
<h2>Hero Name: <%= @heroes[0].name %></h2><br>
Hero Power: <%= @heroes[0].power %><br>
Hero Biography: <%= @heroes[0].bio %><br>
<br>
<h2>Hero Name: </h2><br>
Hero Power: <br>
Hero Biography: <br>
<br>
<h2>Hero Name: </h2><br>
Hero Power: <br>
Hero Biography: <br>
<br>
